@font-face {
  font-family: "SNNM";
  src: url("visuals/fonts/Shinonome.ttf") format("truetype"); 
  font-display: swap;
}

@font-face {
  font-family: "Chicago";
  src: url("visuals/fonts/chicago.woff2");
}

body {
  background-color: black;
  color: darkgray;
  font-family: "SNNM", monospace;
  font-size: 17px;
}

a {
  color: white;
}

strong {
  color: white;
  font-weight: normal;
}

#home {
  height: 350px;
  margin-top: 20vh;
  aspect-ratio: 1 / 1;
  background-image: url('visuals/imgs/room.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  outline: 2px double #F7F7F7;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

#bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  z-index: -1;
  pointer-events: none;
}

#content {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  
  margin: 35px;
  margin-top: 10px;
  padding: 5px;
}

.header {
  font-size: 20px;
  margin: 0;
}

.basic {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.blk {
  background-color: black;
}

#spam {
  background-color: black;
  display-items: inline-block;
  align-self: flex-end;
}

#notfound {
  margin-top: 20vh;
  width: 350px;
  height: 350px;
  background-image: url("visuals/imgs/claus.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  max-width: 100%;
  height: 250px;
  background-image: url("visuals/imgs/bannerabout.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: block;
  
  outline: 1px solid white;
  margin: 5px;
}


/*about.html*/
.navbar {
  font-size: 20px;
  color: white;
  
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.window {
  outline: 1px solid #111111;
  margin-top: 30px;
  margin-bottom: 30px;
  filter: drop-shadow(10px 10px 0px #111111);
}

.wbar {
  font-family: "Chicago";
  font-size: 25px;
  text-align: left;
  font-weight: normal;
  padding: 10px;
  outline: 1px solid #111111;
  background-color: #222222;
  color: white;
}

.wcontent {
  /*use padding on child content*/
  background-color: #333333;
}

.wctitle {
  /*must be a div*/
  padding: 15px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
}
.wtext {
  /*must be a div*/
  padding: 15px;
}
