@font-face {
  font-family: "Jetbrains Mono";
  src: url("../sprites/fonts/JBM.ttf");
}

/*YES THIS CSS FILE IS VERY UNORGANIZED BUT WHO CARES*/
/*YOU MIGHT AS WELL USE THE FIND/WHERE IS TOOL*/

@media (min-width: 993px) {
  #neofetch {
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
    font-size: calc(13px * 1.5);
  }

  #window {
    margin-left: 0;
    margin-right: 0;
    transform: scale(1.5);
    transform-origin: top left;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 5px solid #8BC8E7;
  gap: 50px;
  text-align: center;
  font-size: 13px;
  padding: 10px;
}

.df {
  display: flex;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#timely {
  gap: 10px;
  display: flex; 
  font-size: 15px;
  margin: 20px;
  text-align: center;
}

.comm {
  padding-top: 16px;
  padding-left: 10px;
  font-size: 15px;
}

#logo {
  width: 150px;
  height: 150px;
  padding-bottom: 20px;
}

#gif {
  width: 398.4px;
  height: 264.8px;
}

#tunes0 {
  display: flex; 
  margin-top: 10px; 
  justify-content: space-between; 
  padding-left: 10px;
  padding-right: 10px;
}

#tunes1 {
  outline: 5px solid #8BC8E7;
  width: 140px;
  height: 200px;
  padding: 15px;
  font-size: 13px;
}

#tunes2 {
  display: flex; 
  justify-content: space-between; 
  padding-left: 10px; 
  padding-right: 10px;
}

#tunes3 {
  padding: 5px;
  text-align: left;
  outline: 5px solid #8BC8E7;
  font-size: 15px;
}

#ininline {
  display: inline-block;
  width: 50px;
  height: 1px;
  background: currentColor; /* matches text color */
  vertical-align: middle;
  margin: 0 6px;
}

.nb {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.mt {
  opacity: 0.5;
}

#neofetch {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#window {
  display: block;
  margin: 15px;
  outline: 5px solid #8BC8E7;
  border-radius: 5px;
  box-sizing: border-box;
  width: 397px;
  height: 295px;
  margin-left: auto;
  margin-right: auto;
}

#journal {
  overflow-y: auto;
  color: #8BC8E7;
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 15px;
}

.citems {
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Jetbrains Mono", monospace;
  background-color: #003049;
  color: #8BC8E7;
}

.framed {
  display: block;
  margin: 15px;
  outline: 5px solid #8BC8E7;
  border-radius: 5px;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8BC8E7;
  color: #003049;
  font-family: "Jetbrains Mono", monospace;
  text-align: left;
  height: 30px;
  font-size: 15px;
}

.basic {
  font-family: "Jetbrains Mono", monospace;
  margin: 20px;
  font-size: 15px;
}

.thinger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8BC8E7;
  color: #003049;
  font-family: "Jetbrains Mono", monospace;
  text-align: left;
  margin-top: 25px;
  height: 30px;
  width: 250px;
  font-size: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 0;
  gap: 30px;
}

.thinger::before {
  content: "bluezcreen@nowhere / ~";
}

hr {
  display: block;
  height: 1px;
  width: 100px;
  border: 0;
  border-top: 1px solid #8BC8E7;
  padding: 0;
}


a {
  color: #8BC8E7;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
