@font-face {
  font-family: "DOS";
  src: url("../sprites/fonts/DOS.ttf");
}

@media screen and (min-width: 769px) {
        /* CSS rules for screens wider than 768px (e.g., desktops) */
        #site {
            display: flex;
            } 
      }
    
html, body {
  margin: 0;
  padding: 0;
}
    
body {
  background-color: #FFFFFF;
  font-family: "DOS";
}

.basic {
  margin: 10px;
  padding: 3px;
}

.frame {
  outline: 10px double #0000A8;
  margin: 10px;
}

header {
  display: flex; 
  justify-content: space-between;
  background-color: #0000A8;
  color: #FFFFFF;
  font-family: "DOS";
  text-size: 5px;
  margin: 0;
}

marquee {
  background-color: #0000A8;
  color: #FFFFFF;
  width: 200px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #0000A8;
}

#iil {
  display: inline-block;
  width: 50px;
  height: 1px;
  background: 0000A8;
  vertical-align: middle;
  margin: 0 6px;
}

